.wrapper{
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.animation{
    position: absolute;
    width: 50%;
    margin: 0 25%;
    height: 100%;
    transform: perspective(500px) rotateX(15deg);
}

.animation-content{
    position: absolute;
    animation: scroll 30s infinite linear;
}

@keyframes scroll {
    0% { top: 100%; }
 100% { top: 0; }
}

.animation-content-text{
    color: #FFE73A;
    text-align: justify;
    font-size: 70px;
    margin-bottom: 60px;
    line-height: 1.75;
    font-weight: bold;
}

.animation-content-title{
    text-align: center;
}

