.container {
    width: 1280px;
    margin: 0 auto;
}

.header-container{
    margin-top: 60px;
    margin-bottom: 60px;
}

.title{
    display: inline-block;
    font-size: 80px;
    text-decoration: none;
    color: #000;
    margin-bottom: 50px;
}

.title-color{
    color: #00bfff;
}

.top-navbar{
    text-align: center;
    background: #35444f;
}

.top-navbar-text{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: white;
    border-left: 1px solid black;
    padding: 25px 35px;
}

.top-navbar-text-line{
    border-right: 1px solid black;
}

.middle-navbar{
    display: inline-block;
    width: 350px;
    border: 1px solid grey;
    vertical-align: top;
}

.middle-navbar-list{
    padding: 25px 40px;
}

.middle-navbar-text{
    font-size: 26px;
    text-decoration: none;
    color: #485863;
}

.main-content{
    display: inline-block;
    width: 885px;
    vertical-align: top;
    margin-left: 36px;
}
.img-content{
    border: 1px solid black;
    padding: 75px 280px;
}

.main-img {
    width: 100%;
}

.main-text{
    font-size: 18px;
    line-height: 1.5;
    margin: 40px 0;
}

.footer-zone{
    background: grey;
    padding: 25px 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.bottom-navbar{
    display: inline-block;
}

.bottom-navbar-text{
    text-decoration: none;
    font-size: 28px;
    color: #000;
    margin: 0 15px;
}

.copyright {
    display: inline-block;
    font-size: 24px;
    margin-left: 90px;
}