.container {
    width: 1027px;
    margin: 0 auto;
}

.header-container{
    padding-top: 56px;
    padding-bottom: 27px;
}

.background{
    background: grey url("../img/background.png");
    background-size:cover;
    height: 100vh;
    overflow-y: scroll;
}

.left-logo-link{
    text-transform: uppercase;
    text-decoration: none;
    float: left;
}

.left-logo-link:hover .logo-img{
    content: url("../img/logo-home-orange.png");
}

.left-logo-link:hover .logo-text{
    color:#F26522;
}

.logo-img-wrapper{
    width: 53px;
    display: inline-block;
}

.logo-img{
    width: 100%;
}

.logo-text{
    color: white;
    display: inline-block;
    margin-left: 8px;
}

.logo-text-big{
    font-size: 29px;
    font-weight: bold;
}

.logo-text-little{
    font-size: 18px;
    font-weight: bold;
}

.contacts {
    float: right;
    text-decoration: none;
}

.contacts-email{
    display: block;
    margin-bottom: 8px;
}

.contacts-text{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.contacts-text:hover{
    color: #F26522;
}

.tour-gallery-item{
    text-decoration: none;
    float: left;
    width: calc(100% / 3 - 42px);
    display: inline-block;
    margin-right: 63px;
    margin-bottom: 42px;
}

.tour-img-wrapper {
    height: 220px;
    width: 300px;
}

.shopping-photo{
    background-image: url(../img/main-shopping.png);
}

.sightseeing-photo{
    background-image: url(../img/main-sightseeing.png);
}

.food-photo{
    background-image: url(../img/main-food.png);
}

.bar-photo{
    background-image: url(../img/main-bars.png);
}

.art-photo{
    background-image: url(../img/main-art.png);
}

.wallking-photo{
    background-image: url(../img/main-walking.png);
}

.tour-gallery-item:nth-child(3n){
    margin-right: 0;
}

.tour-gallery-item:hover .tour-details{
    opacity: 1;
    z-index: 0;
}

.tour-gallery-item:hover .tour-item-text{
    color: #F26522;
}

.tour-details{
    width: 100%;
    background-color: #F26522;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    margin-top: 171px;
    opacity: 0;
    z-index: -1;

}

.tour-details-price{
    float: left;
    font-size: 20px;
    color: white;
}

.tour-details-price::before{
    content: "from";
    color: white;
    font-size: 10px;
    margin-right: 5px;
    display: block;

}

.tour-details-link{
    float: right;
    font-size: 14px;
    color: white;
    padding-top: 10px;
}

.tour-details-link::after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(45deg);
    margin-left: 10px;
}

.tour-item-text{
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 17px;
}

.footer-content{
    text-align: center;
    font-size: 12px;
    color: white;
}

.footer-container{
    padding-bottom: 15px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
