.container{
    width: 1154px;
    margin: 0 auto;
}

.header-container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0;
}

.main-bgimage{
    background-image: url(../img/main-backgroumd.png);
    background-size: cover ;
    height: 100vh;
    overflow-y: scroll;
}

.header-title{
    float: left;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.header-title:hover{
    color: #3CB878;
    font-size: 22px;
}

.right-header-content{
    float: right;
}

.strite-link{
    display: inline-block;
}

.strite-link::after {
    content: "";
    border-left: 2px solid #ffffff;
    height: 19px;
    opacity: 0.3;
    vertical-align: top;
    margin-right: 28px;
}

.header-icons{
    background-image: url(../img/sprite.png);
    display: inline-block;
    margin-right: 28px;
}

.calendar-icon{
    background-position: -5px -71px;
    width: 20px;
    height: 20px;
}

.calendar-icon:hover{
    background-position: -5px -146px;
    width: 20px;
    height: 20px;
}

.forum-icon{
    background-position: -5px -0px;
    width: 28px;
    height: 20px;
}

.forum-icon:hover {
    background-position: -5px -25px;
    width: 28px;
    height: 20px;
}

.journey-icon{
    background-position: -5px -96px;
    width: 20px;
    height: 20px;
}

.journey-icon:hover{
    background-position: -5px -121px;
    width: 20px;
    height: 20px;
}

.link-text{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin: 0 3px;
    display: inline-block;
    vertical-align: top;
}

.link-green:hover{
    color: #3CB878;
}

.form-container{
    width: 444px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 42px  rgba(0, 0, 0, 0.76);
    padding: 30px 60px;
    border-radius: 4px;
    transform: translateY(calc((100vh - 62px - 642px) / 2));
}

.form-title{
    font-size: 20px;
    margin-bottom: 18px;
    float: left;
    position: relative;
}

.form-title::before{
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    right: 111px;
}

.log-in-link{
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    float: right;
}

.form-button{
    width: 158px;
    box-sizing: border-box;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.facebook-button{
    float: left;
    background-color: #305DB8;
}

.form-icon{
    background-image: url(../img/sprite.png);
    display: inline-block;
}

.facebook-icon{
    background-position: -5px -170px;
    width: 10px;
    height: 18px;
    padding-right: 17px;
}

.button-text{
    display: inline-block;
    color: white;
    font-size: 16px;
}

.button-text::before {
    content: "";
    border-left: 1px solid #2B0D09;
    height: 28px;
    margin-right: 15px;
    opacity: 0.1;
}

.google-button{
    float: right;
    background-color: #DF4A32;
}

.google-icon{
    background-position: -5px -50px;
    width: 25px;
    height: 18px;
    padding-right: 10px;
}

.middle-line-text{
    margin-top: 21px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
    color: #848484;
}


.middle-line-text::before{
    content: '';
    border-bottom: 1px solid    rgba(0, 0, 0, 0.1);
    width: 139px;
    display: inline-block;
    margin-right: 14px ;
    vertical-align: middle;
}

.middle-line-text::after{
    content: '';
    border-bottom: 1px solid    rgba(0, 0, 0, 0.1);
    width: 139px;
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;

}

.form-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 17px 18px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #BEBEBE;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background: #fff;
    color: #434343;
}

.checkbox-text{
    margin-top: 22px;
    margin-bottom: 28px;
    font-size: 14px;
    color: #434343;
    cursor: pointer;
}

.checkbox-link{
    text-decoration: none;
    color: #3CB878;
}

.create-account-button{
    width: 100%;
    font-size: 16px;
    color: #fff;
    background: #3cb878;
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid transparent;
    cursor: pointer;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}