.container{
    width: 1170px;
    margin: 0 auto;
}

.header-content{
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-img{
    width: 27px;
    vertical-align: middle;
    margin-right: 21px;
    margin-left: 21px;
}

.header-logo-title{
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}
.header-navbar{
    width: 40%;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.navbar-link{
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-link:hover{
    color: #14B9D5;
}

.search-icon{
    color: #fff;
    font-size: 17px;
    vertical-align: middle;
}

.header-search-link{
    padding:  26px;
    background-color: #000;
}

.latest-news-wrapper{
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.latest-news{
    padding-bottom: 74px;
    padding-top: 164px;
}

.latest-news-title{
    text-transform: uppercase;
    font-size: 27px;
    color: #FFFFFF;
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
}

.latest-news-buttons{
    display: flex;
    justify-content: center;
}

.button-link{
    padding: 16px   19px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}

.subscribe-now-bg{
    background: #89CA62;
}

.best-articles-bg{
    background: #14B9D5;
}

.section-wrapper{
    background: #E5E5E5;
    padding-top: 61px;
    box-sizing: border-box;
}

.section-title{
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    text-transform: uppercase;
}

.posts-section-title{
    display: flex;
    justify-content: center;
}

.posts-gallery{
    height: 950px;
    box-sizing: border-box;
    padding-top: 52px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.posts-gallery-item{
    width: 370px;
    text-decoration: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.no-margin{
    margin-top: 0;
}

.posts-gallery-item:nth-child(3n+1){
    order: 1;
}

.posts-gallery-item:nth-child(3n+2){
    order: 2;
}

.posts-gallery-item:nth-child(3n){
    order: 3;
}

.posts-img{
    width: 100%;
}

.posts-text{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px 15px;
    background-color: #FFFFFF;
    color: #353A3D;
}

.clients-wrapper{
    background-image: url(../img/parallax-bg.jpeg);
    padding-top: 190px;
    padding-bottom: 207px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.clients-title{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.clients-title::after{
    content: "";
    width: 60px;
    border: 3px solid #18B4CF;
    margin-top: 45px;
}

.client-gallery{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 40px;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 71px;
    justify-items: center;

}

.top-rated-title{
    display: grid;
    justify-items: center;
}

.top-rated-gallery{
    margin-top: 52px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-gallery-item{
    width: 100%;
}

.hot-news-title{
    display: grid;
    justify-items: center;
    margin-bottom: 51px;
}

.hot-news-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

.post-bg{
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: grid;
}

.post-title{
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    text-align: right;
    padding: 15px 25px;
}

.posts-img{
    width: 100%;
}

.post-text {
    font-size: 14px;
    font-weight: 600;
    color: #5B6469;
    padding: 15px;
    line-height: 1.5;
    text-align: right;
}

.hot-news-post-span3{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hot-news-post-span2{
    grid-column: span 2;
}

.footer-bg{
    background: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-container{
    display: grid;
    grid-template-columns: 11fr 1fr;
}

.footer-text{
    font-size: 13px;
    color: #FFFFFF;
}

.footer-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-logo-img{
margin-right: 10px;
}

.footer-logo-title{
    text-transform: uppercase;
    font-size: 22px;
    color: #FFFFFF;
}

