.table-container{
    width: 1143px;
    margin: 0 auto;
}

.table{
    font-size: 16px;
    text-transform: uppercase;
}

.table-bgr{
    background: #3A4965;
    padding: 22px 29px 32px 20px;
}

.table-header{
    background: #FAFAFA;
}

.header-cell{
    font-weight: bold;
    width: 280px;
    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 15px;
}

.rowspan-cell{
    width: 313px;
    color: #484848;
    height: 100%;
    vertical-align: middle;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.rowspan-text{
    font-size: 18px;
}

.rowspan-text-big {
    display: block;
    font-size: 30px;
    margin-top: 2px;
}

.standard-cell{
    font-size: 24px;
    background-color: #89C331;
}

.ultimate-cell{
    font-size: 30px;
    background: #F04A56;
}

.premium-cell{
    font-size: 24px;
    background: #20807C;
}

.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin-left: 35px;
}

.price-coins {
    position: absolute;
    top: 0;
    font-size: 24px;
    font-weight: bold;
}

.price-plan {
    position: absolute;
    top: 24px;
    font-size: 18px;
}

.tbody-row{
    background: #F2F2F2;
}

.tbody-row:nth-child(2n){
    background: #E3E3E3;
}

.icon{
    font-size: 24px;
    color: #848484;
    margin-right: 5px;
    vertical-align: middle;
}

.vertical-middle{
    display: inline-block;
    vertical-align: middle;
}

.body-cell{
    text-align: center;
    color: #484848;
    padding-top: 22px;
    padding-bottom: 22px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.button{
    font-weight: bold;
    color: #ffffff;
    width: 195px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 17px 11px 5px;
    border-radius:5px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
}

.button:hover{
    border-bottom: 10px solid rgba(0, 0, 0, 0);
}

.button-bgr-black{
    background: #484848
}

.button-bgr-lightgreen{
    background: #89C331;
}

.button-bgr-red{
    background: #F04A56;
}

.button-bgr-green{
    background: #20807C;
}

.row-bgr{
    background: #EEEEEE;
}

.contact-us-cell-bgr{
    background: #DDDDDD;
}

.buy-now-cell-bgr{
    background: #F4F4F4;
}


